.loginoutbutton {
    position: absolute;
    right: 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: inherit;
    color: #fff;
    background-color: #5d3bd9;
    display: block;
    padding: 0.25rem 0;
    border-radius: 0.25rem;
    width: 80px; // prevent layout shift on log in <-> logout
    border: none;
    text-align: center;
    font-weight: 600;
}
