.navbar {
    position: relative;
    display: flex;
    align-items: center;

    background-color: #fff;
    padding: 0 1.25rem;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    &__nav {
        margin: auto;
    }

    &__navlist {
        list-style-type: none;
        display: flex;
        align-items: stretch;
        padding: 0;
        margin: auto;
    }

    &__navitem {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        height: 100%;
        background-color: transparent;
        display: block;
        cursor: pointer;
        border: none;
        font-family: inherit;
        color: inherit;
        text-decoration: none;

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:hover,
        &--active {
            background-color: #eee;
        }
    }
}
